{{ define "Index" }}
    {{ template "Header" }}
        {{ template "Menu" }}
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TASK</td>
                    <td>Edit</td>
                    <td>Press [done] when you finish.</td>
                </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Task }}</td>
                    <td><a href="/edit?id={{ .Id }}">Edit</a></td>
                    <td><a href="/delete?id={{ .Id }}">done</a><td>
                </tr>
            {{ end }}
            </tbody>
        </table>
{{ end }}