{{ define "Index" }}
    {{ template "Header" }}
        {{ template "Menu" }}
        <table border="1">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>TASK</td>
                </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Task }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
{{ end }}